@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  /* Font ang Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  padding: 10px;
  background: rgb(225, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--greyText);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: var(--primaryColor);
  background: var(--paleGreen);
}

.loginPage,
.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginPage .container,
.registerPage .container {
  height: 75vh;
  width: 60%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: hsl(0, 0%, 91%);
}
.loginPage .container .videoDiv,
.registerPage .container .videoDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.loginPage .container .videoDiv video,
.loginPage .container .videoDiv .footerDiv,
.registerPage .container .videoDiv video,
.registerPage .container .videoDiv .footerDiv {
  position: absolute;
}
.loginPage .container .videoDiv video,
.registerPage .container .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.loginPage .container .videoDiv .textDiv,
.registerPage .container .videoDiv .textDiv {
  position: relative;
}
.loginPage .container .videoDiv .textDiv .title,
.registerPage .container .videoDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.loginPage .container .videoDiv .textDiv p,
.registerPage .container .videoDiv .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.loginPage .container .videoDiv .footerDiv,
.registerPage .container .videoDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.248);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.loginPage .container .videoDiv .footerDiv .text,
.registerPage .container .videoDiv .footerDiv .text {
  color: var(--whiteColor);
}
.loginPage .container .videoDiv .footerDiv .btn,
.registerPage .container .videoDiv .footerDiv .btn {
  background: var(--whiteColor);
  color: var(--primaryColor);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease;
}
.loginPage .container .videoDiv .footerDiv .btn:hover,
.registerPage .container .videoDiv .footerDiv .btn:hover {
  background: var(--hoverColor);
  color: var(--blackColor);
}
.loginPage .container .formDiv,
.registerPage .container .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginPage .container .formDiv .headerDiv,
.registerPage .container .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}
.loginPage .container .formDiv .headerDiv img,
.registerPage .container .formDiv .headerDiv img {
  width: 60px;
  padding-bottom: 0.5rem;
}
.loginPage .container .formDiv .headerDiv h3,
.registerPage .container .formDiv .headerDiv h3 {
  font-size: 25px;
  color: var(--blackColor);
  font-weight: 600;
}
.loginPage .container .formDiv .form,
.registerPage .container .formDiv .form {
  gap: 1rem;
}
.loginPage .container .formDiv .form .inputDiv .icon,
.registerPage .container .formDiv .form .inputDiv .icon {
  color: var(--greyText);
}
.loginPage .container .formDiv .form .inputDiv input,
.registerPage .container .formDiv .form .inputDiv input {
  background: none;
  outline: none;
  border: none;
  width: 200px;
}
.loginPage .container .formDiv .form .inputDiv label,
.registerPage .container .formDiv .form .inputDiv label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}
.loginPage .container .formDiv .form .inputDiv .input,
.registerPage .container .formDiv .form .inputDiv .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}
.loginPage .container .formDiv .form .btn,
.registerPage .container .formDiv .form .btn {
  padding: 0.8rem;
  background: var(--primaryColor);
  border-radius: 10px;
  color: var(--whiteColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn .icon,
.registerPage .container .formDiv .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.loginPage .container .formDiv .form .btn:hover,
.registerPage .container .formDiv .form .btn:hover {
  background: var(--hoverColor);
  color: var(--blackColor);
}
.loginPage .container .formDiv .form .btn:hover .icon,
.registerPage .container .formDiv .form .btn:hover .icon {
  color: var(--blackColor);
  transform: translateX(5px);
}
.loginPage .container .formDiv .form .forgotPassword,
.registerPage .container .formDiv .form .forgotPassword {
  font-size: 13px;
  color: var(--blackColor);
  opacity: 0.7;
  text-align: center;
}
.loginPage .container .formDiv .form .forgotPassword a,
.registerPage .container .formDiv .form .forgotPassword a {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
}

.dashboard {
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.dashboard .dashboardContainer {
  height: 95vh;
  width: 95%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgb(194, 194, 194);
}

/* Let ge in our Dashboard Component - Please note that this
already developed and the link is in the description if you
wanna see how to create/build it along. */
@media screen and (max-width: 990px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 918px) {
  .heading {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
@media screen and (max-width: 662px) {
  .loginPage .container,
  .registerPage .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginPage .container .videoDiv,
  .registerPage .container .videoDiv {
    width: 100%;
  }
  .loginPage .container .videoDiv .textDiv .title,
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 20px;
  }
  .loginPage .container .videoDiv .textDiv p,
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginPage .container .videoDiv .footerDiv .text,
  .registerPage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .loginPage .container .videoDiv .footerDiv .btn,
  .registerPage .container .videoDiv .footerDiv .btn {
    padding: 0.4rem 1.5rem;
  }
  .loginPage .container .formDiv,
  .registerPage .container .formDiv {
    gap: 1rem;
    transform: translateY(-0.5rem);
  }
  .loginPage .container .formDiv .headerDiv,
  .registerPage .container .formDiv .headerDiv {
    padding: 1rem 0;
  }
  .loginPage .container .formDiv .headerDiv img,
  .registerPage .container .formDiv .headerDiv img {
    width: 40px;
  }
  .loginPage .container .formDiv .headerDiv h3,
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginPage .container .formDiv .form,
  .registerPage .container .formDiv .form {
    gap: 0.5rem;
  }
  .loginPage .container .formDiv .form .inputDiv .input,
  .registerPage .container .formDiv .form .inputDiv .input {
    width: 100%;
  }
}
@media screen and (max-width: 678px) {
  .loginPage .container .videoDiv .textDiv .title,
  .registerPage .container .videoDiv .textDiv .title {
    font-size: 25px;
  }
  .loginPage .container .videoDiv .textDiv p,
  .registerPage .container .videoDiv .textDiv p {
    padding: 1rem;
  }
  .loginPage .container .videoDiv .footerDiv .text,
  .registerPage .container .videoDiv .footerDiv .text {
    font-size: 12px;
  }
  .loginPage .container .videoDiv .footerDiv .btn,
  .registerPage .container .videoDiv .footerDiv .btn {
    padding: 0.8rem 1.5rem;
  }
  .loginPage .container .formDiv .headerDiv,
  .registerPage .container .formDiv .headerDiv {
    padding: 1.5rem 0;
  }
  .loginPage .container .formDiv .headerDiv h3,
  .registerPage .container .formDiv .headerDiv h3 {
    font-size: 20px;
  }
  .loginPage .container .formDiv .form .inputDiv .input,
  .registerPage .container .formDiv .form .inputDiv .input {
    width: 100%;
    max-width: 200px;
  }
}
@media screen and (max-width: 927px) {
  .loginPage .container,
  .registerPage .container {
    width: 85%;
  }
}
::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=App.css.map */